Name = {{ tinc_vpn_hostname }}
AddressFamily = {{ tinc_addressfamily }}
Interface = {{ tinc_vpn_interface }}
Mode = {{ tinc_mode }}
DeviceType = {{ tinc_devicetype }}
Cipher = {{ tinc_cipher }}
Digest = {{ tinc_digest }}
Compression = {{ tinc_compression }}
IffOneQueue = {{ tinc_iffonequeue }}
TCPOnly = {{ tinc_tcponly }}
StrictSubnets = {{ tinc_strictsubnets }}
{% for tinc_host in ansible_play_hosts %}
{% if inventory_hostname != hostvars[tinc_host]['inventory_hostname']  %}
{% if hostvars[tinc_host]['tinc_vpn_hostname'] is defined %}
ConnectTo = {{ hostvars[tinc_host]['tinc_vpn_hostname'] }}
{% endif %}
{% endif %}
{% endfor %}
